vendor
DerivedData

*.xcodeproj
*.xcworkspace
default.profraw
.env
.env.default
.env.local
.build
fastlane/README.md
fastlane/report.xml
fastlane/test_output
Sources/App/Sources/SupportingFiles/Info.plist
.vscode
**/Derived
Environment.environment
.DS_Store
*.generated.swift
Generated
*-plugin.zip
build
*.xcresult
results.junit
coverage.xml